<div class="header">
  <div class="wrapper">

    <h1>West Toronto CrossFit</h1>

    <ul class="nav">
      <li> 
        <a href="#about">About</a>
      </li>

      <li>
        <a href="#gallery">Gallery</a>
      </li>

      <li>
        <a href="#contact">Contact</a>
      </li>

      <li>
        <a href="http://westtorontocrossfit.com/schedule">Schedule</a>
      </li>

    </ul>
  </div>
</div>

  <div class="scroll_baby">
    <div class="about" id="about">
      <div class="wrapper">
        <h2>About us:</h2>
        <p>West Toronto CrossFit is a humble gym located in the heart of Toronto's Junction community.</p>
      </div>
    </div>


    <div class="gallery" id="gallery">
        <div class="wrapper clearfix">

          <div class="galleryItem">
            <img src="images/wod1.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 1</h3>
              <p>A quick description of the image</p>
            </div>
          </div>


          <div class="galleryItem">
            <img src="images/wod2.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 2</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod3.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 3</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod4.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 4</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod5.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 5</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod6.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 6</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod7.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 7</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod8.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 8</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
          <div class="galleryItem">
            <img src="images/wod9.jpg" alt="">
            <div class="overlay">
              <h3>Item Title 9</h3>
              <p>A quick description of the image</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact" id="contact">
        <div class="wrapper">
          <h2>Get in Touch</h2>
          <form action="">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="email">
            <input type="submit">
          </form>
        </div>
      </div>

</div> 
  <div class="footer">
    <div class="wrapper">
      
    </div>
  </div>